<body>
<h1><%= topicHead %></h1>
<form name="form1" method="POST" action="/api/v1/authentication/reset/password/form">
    <table>
        <tr>
            <td>New Password</td>
            <td><input type="text" name="newp"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="text" name="cnew"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="hidden" value="<%= token %>" name="token">
                <input type="submit" name="submit" onclick="resetPasswordClicked()" value="Reset Password">
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    //    var resetPasswordClickEvt = document.getElementById('resetPasswordClickEvt');
    //    resetPasswordClickEvt.addEventListener('click', resetPasswordClicked);
    function resetPasswordClicked() {
        var data = "newPassword=" + document.getElementById('newp').value + '&verifyPassword=' + document.getElementById('cnew').value + '&token=' + document.getElementById('token');
        ajaxCall(data, "http://104.167.4.192/zynna/api/v1/authentication/reset/password/form", function (status, response) {
            if (status == 200) {
                alert('successfully sent');
            } else {
                alert('Error', status)
            }
        });
    }
    function ajaxCall(data, url, callback) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", url, true);
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                return callback(this.status, JSON.parse(xhttp.response));
            }
        }
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(data);
    }
</script>
</body>
